.page {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: '. form panel';
  grid-column-gap: 50px;
  margin: 0 auto;
  min-width: 1100px;
  height: 100%;
}

.container_header {
  font-family: var(--font-family-baloo);
  font-weight: 800;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  font-size: 2.85rem;
  color: var(--color-accent);
  height: auto;
  margin-bottom: 2.85rem;
}

.stepper_container {
  width: 100%;
  padding: 29px;
}

.content_container {
  width: 100%;
}

.form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: form;
}

.form_title {
  color: var(--color-accent);
  font-weight: var(--font-weight600);
  font-size: 20px;
}

.form_footer {
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-accent);
  cursor: pointer;
  text-align: center;
}

.panel_container {
  max-width: 300px;
  background-color: var(--color-accent);
  align-items: center;
  grid-area: panel;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.panel_header {
  background-image: var(--images-dogge-background-light);
  color: var(--color-white);
  font-family: var(--font-family-baloo);
  font-weight: var(--font-weight800);
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  height: 223px;
  width: 100%;
  background-repeat: no-repeat;
  font-size: 40px;
}

.panel_data {
  background-color: var(--background-color);
  width: 100%;
}

.panel_footer {
  color: var(--color-white);
  margin-bottom: 30px;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.back_container {
  color: var(--color-additional);
  font-weight: var(--font-weight600);
  font-size: 12px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 421px) {
  .page {
    padding: 2.14rem 0;
  }

  .container {
    min-width: 0;
    height: 100%;
    width: 100%;
    background: inherit;
    box-shadow: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .content_container {
    height: 100%;
    justify-content: space-between;
  }

  .form_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3.21rem;
  }
}
