.password_rule_conteiner {
  display: flex;
  align-items: center;
}

.password_rule {
  font-weight: 600;
  display: inline-block;
  margin: 0 5px;
}

.password_rule_correct {
  color: var(--color-additional);
}

.password_rule_uncorrect {
  color: var(--color-accent);
}

.password_rule_icon_container {
  width: 18px;
  margin-right: 10px;
  display: inline-block;
}

.password_rule_correct_icon {
  width: 17px;
  height: 13px;
  background-image: url('../../../../static/images/checkmark.svg');
}

.password_rule_uncorrect_icon {
  width: 18px;
  height: 17px;
  background-image: url('../../../../static/images/warning.svg');
}
