.calendar_container {
  width: 12.5rem;
  border-radius: 0.35rem;
  text-transform: capitalize;
  background-color: var(--background-color-field-focused);
}

.calendar_header_container {
  position: relative;
  border-radius: 0.35rem 0.35rem 0 0;
  background-color: var(--background-color);
  color: var(--color-text);
  padding: 0.71rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-button-bottom);
}

.calendar_header_arrow_left {
  width: 0.35rem;
  height: 0.71rem;
  cursor: pointer;
  background-image: var(--images-arrow-additional);
}

.calendar_header_arrow_right {
  width: 0.35rem;
  height: 0.71rem;
  cursor: pointer;
  background-image: var(--images-arrow-additional);
  transform: rotate(-180deg);
}

.calendar_body_container {
  border-radius: 0 0 0.35rem 0.35rem;
  padding: 0.35rem;
}

.calendar_week_days_container {
  height: 1.42rem;
  font-weight: 600;
  font-size: 0.57rem;
  color: var(--color-additional);
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.07rem 0.07rem;
}

.calendar_days_container {
  font-size: 0.71rem;
  font-weight: 400;
  color: var(--color-text);
  text-align: center;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  gap: 0.07rem 0.07rem;
}

.calendar_day_container {
  padding: 0.34rem;
  cursor: pointer;
}

.calendar_day_container:hover {
  border-radius: 0.35rem;
  background-color: var(--color-additional7);
}

.calendar_additional_day_container {
  padding: 0.34rem;
  font-weight: 300;
  cursor: pointer;
  color: var(--color-placeholder);
}

.calendar_pick_items_container {
  font-weight: 400;
  color: var(--color-text);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.07rem 0.07rem;
  font-size: 0.85rem;
}

.calendar_pick_item_container {
  padding: 0.64rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.calendar_pick_item_container:hover {
  border-radius: 0.35rem;
  background-color: var(--color-additional7);
}

.calendar_today_item_container {
  border-radius: 0.35rem;
  background-color: var(--background-color);
}

.calendar_selected_item_container {
  border-radius: 0.35rem;
  background-color: var(--color-additional);
}

.calendar_selected_item_container:hover {
  background-color: var(--color-additional);
}

.calendar_unchoosable_year {
  font-weight: 300;
  padding: 0.64rem 1rem;
  color: var(--color-placeholder);
}
