.steps_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.step_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.step_index_container {
  color: var(--color-white);
  background: var(--color-additional7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 2.14rem;
  height: 2.14rem;
  border-radius: 25px;
  font-size: 0.85rem;
  margin-bottom: 3px;
}

.active_step_index_container {
  background: var(--color-additional);
}

.last_step_checkmark {
  background-image: var(--images-checkmark);
  width: 1.21rem;
  height: 0.85rem;
}

.step_label_container {
  color: var(--color-text);
  position: absolute;
  width: max-content;
  font-size: 0.71rem;
  bottom: -1.07rem;
}

.active_step_label_container {
  font-weight: 600;
}

.step_separator {
  background-color: var(--color-additional7);
  width: 100%;
  height: 0.07rem;
  margin: 23px 1.07rem 0;
}

.active_step_separator {
  background-color: var(--color-additional);
  height: 0.14rem;
}
