.steps_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.step_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.step_index_container {
  color: var(--color-white);
  background: var(--color-additional7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  font-size: 12px;
  margin-bottom: 3px;
}

.active_step_index_container {
  background: var(--color-additional);
}

.last_step_checkmark {
  background-image: var(--images-checkmark);
  width: 17px;
  height: 12px;
}

.step_label_container {
  color: var(--color-text);
  position: absolute;
  width: max-content;
  font-size: 10px;
  bottom: -15px;
}

.active_step_label_container {
  font-weight: 600;
}

.step_separator {
  background-color: var(--color-additional7);
  width: 100%;
  height: 1px;
  margin: 23px 15px 0;
}

.active_step_separator {
  background-color: var(--color-additional);
  height: 2px;
}
