.data_container {
  background-color: var(--background-color-field);
  padding: 1.07rem;
  border-radius: 0.35rem;
  width: 100%;
}

.data_header {
  display: flex;
  margin-bottom: 1.07rem;
}

.data_header_title {
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-additional);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.data_header_edit_icon {
  cursor: pointer;
  width: 0.85rem;
  height: 0.85rem;
  background-size: 0.85rem;
  background-image: var(--images-pen-additional);
}

.data_body {
  gap: 0.64rem;
  display: flex;
  flex-direction: column;
}

.line {
  height: 0.07rem;
  background-color: var(--background-color-field-focused);
}
