.password_rules_conteiner {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 0.71rem;
  width: 100%;
  text-align: left;
  padding: 2.85rem 1.42rem;
}

@media only screen and (max-width: 421px) {
  .password_rules_conteiner {
    border: 0.07rem solid var(--color-accent7);
    border-radius: 0.35rem;
    padding: 1.07rem 1.42rem;
  }
}
