.form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: form;
}

.input_container {
  width: 100%;
  margin-bottom: 15px;
}
