.form_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: form;
}

.weight_postfix {
  color: var(--color-placeholder);
  font-weight: 400;
  font-size: 14px;
}
