.button {
  height: 3.42rem;
  width: 100%;
  background: var(--color-accent);
  box-shadow: var(--shadow-button);
  border-radius: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  transition: var(--transition);
}

.button:hover {
  background: var(--color-accent);
  box-shadow: var(--shadow-button-hover);
}

.button:active {
  background: var(--color-accent7);
}

.button:disabled {
  background: var(--color-accent7);
  box-shadow: var(--shadow-button-hover);
}

.dot-flashing {
  position: relative;
  width: 0.42rem;
  height: 0.42rem;
  border-radius: 0.35rem;
  background-color: #fff;
  color: #fff;
  animation: dotFlashing 0.5s infinite linear alternate;
  animation-delay: 0.25s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -0.71rem;
  width: 0.42rem;
  height: 0.42rem;
  border-radius: 0.35rem;
  background-color: #fff;
  color: #fff;
  animation: dotFlashing 0.5s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 0.71rem;
  width: 0.42rem;
  height: 0.42rem;
  border-radius: 0.35rem;
  background-color: #fff;
  color: #fff;
  animation: dotFlashing 0.5s infinite alternate;
  animation-delay: 0.5s;
}

@keyframes dotFlashing {
  0% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  50%,
  100% {
    background-color: #fff;
  }
}
