.button {
  background: #f5c678;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 15.5px 102.5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}

.button:hover {
  background: #f5c678;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.button:active {
  background: rgba(245, 198, 120, 0.7);
}

.dot-flashing {
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  animation: dotFlashing 0.5s infinite linear alternate;
  animation-delay: 0.25s;
}

.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -10px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  animation: dotFlashing 0.5s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 10px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  animation: dotFlashing 0.5s infinite alternate;
  animation-delay: 0.5s;
}

@keyframes dotFlashing {
  0% {
    background-color: rgba(255, 255, 255, 0.5);
  }
  50%,
  100% {
    background-color: #fff;
  }
}
