.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 500px;
  background: #ffffff;
  box-shadow: 0px 4px 50px 2px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.container_header {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 16px;
  height: 150px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-image: url('../../static/images/dogge_background.svg');
  color: #ffffff;
  font-size: 40px;
}

.form_container {
  padding: 0 100px;
}

.input_container {
  margin-bottom: 10px;
}

.sing_up_container {
  margin-bottom: 15px;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  color: #f5c678;
  cursor: pointer;
}
