.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  height: 600px;
  background: #ffffff;
  box-shadow: var(--shadow-container);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.container_header {
  font-family: 'Baloo';
  font-weight: 800;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 16px;
  height: 150px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-image: url('../../static/images/dogge_background.svg');
  color: #ffffff;
  font-size: 40px;
}

.form_container {
  width: 100%;
  padding: 0 125px;
}

.input_container {
  margin-bottom: 15px;
}

.sing_up_container {
  margin-bottom: 15px;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-accent);
  cursor: pointer;
}
