.password_toogle_container {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

.password_show_icon {
  width: 18px;
  height: 18px;
  background-image: var(--images-show-password);
}

.password_hide_icon {
  width: 18px;
  height: 18px;
  background-image: var(--images-hide-password);
}
