.password_icon {
  cursor: pointer;
  width: 18px;
  height: 18px;
}

.password_show_icon {
  background-image: var(--images-show-password);
}

.password_hide_icon {
  background-image: var(--images-hide-password);
}
