.password_icon {
  cursor: pointer;
  width: 1.19rem;
  height: 1.19rem;
  background-size: 1.19rem 1.19rem;
}

.password_show_icon {
  background-image: var(--images-show-password);
}

.password_hide_icon {
  background-image: var(--images-hide-password);
}
