.data_body_item {
  display: flex;
  font-size: 1rem;
  width: 100%;
}

.data_body_item_label {
  color: var(--color-text);
  font-weight: 600;
  width: 30%;
}

.data_body_item_content {
  color: var(--color-text);
  font-weight: 400;
  width: 70%;
}

.line {
  height: 0.07rem;
  background-color: var(--background-color-field-focused);
}
