.password_rule_conteiner {
  color: var(--color-text);
  display: flex;
  align-items: center;
}

.password_rule {
  font-weight: 600;
  display: inline-block;
  margin: 0 0.35rem;
}

.password_rule_correct {
  color: var(--color-additional);
}

.password_rule_uncorrect {
  color: var(--color-accent);
}

.password_rule_icon_container {
  width: 1.28rem;
  margin-right: 0.71rem;
  display: inline-block;
}

.password_rule_correct_icon {
  width: 1.21rem;
  height: 13px;
  background-image: var(--images-checkmark-additional);
}

.password_rule_uncorrect_icon {
  width: 1.28rem;
  height: 1.21rem;
  background-image: var(--images-warning);
}
